<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Supermarket Fun!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Supermarket Fun</h1>
                <h3>Examining Supermarket Data From Different Angles.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div id="genderPie"></div>
            </div>
            <div class="col-md-3">
            </div>                       
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div id="customerTypePie"></div>
            </div>
            <div class="col-md-3">
            </div> 
        </div>
    </div>


    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- `url_for()` is a flask thing to find the location of the file -->
    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>

</body>

</html>